<div class="container mt-4">
<div class="col-md-6">
<div class="card">
  <h4 class="card-title">You loved <%= @dish.name %> at... </h4>
  
  


      <dd>
        <% if @dish.cuisine.present? %>
          <a href="/cuisines/<%= @dish.cuisine_id %>">
            <%= @dish.cuisine.name %>
          </a>
        <% end %>
      </dd>




      <!-- Label and input for dish_id -->
      <input type="hidden" name="dish_id" value="<%= @dish.id %>">

      <!-- Label and input for venue_id -->
      <div class="form-group">
        <label for="venue_id" class="control-label">
        </label>

        <%= select_tag(:venue_id, options_from_collection_for_select(Venue.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">


        
        <button class="btn btn-primary btn">
              <i class="fa fa-heart"></i>
              </button>
    </div>
   </div>

